{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "edge": "16",
          "firefox": "60",
          "chrome": "67",
          "safari": "10",
          "ie": "11"
        },
        "useBuiltIns": "entry"
      }
    ],
    "next/babel"
  ],
  "plugins": [["emotion", { "inline": true }], "inline-react-svg"]
}
