# dependencies
/node_modules
/reports

# testing
/coverage

# production
.next

# temporary data files
production-data/*
# exception
!production-data/README.md

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*

.vs/slnx.sqlite

/docs/jsdoc

junit.xml

# generated
/src/server/css/app.css
/src/server/css/app.css.map