@use "../../../node_modules/govuk-frontend/dist/govuk" as *;
.govuk-header__product-name {
  font-weight: bold;
}
.govuk-panel__title {
  font-weight: normal;
  font-size: 0.8em;
}
.govuk-panel__body {
  line-height: 0.4;
}
