{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% macro backButton(props) %}
    {% if props.hideback %}

    {% elif props.backToStart %}
        {{ govukBackLink({
            href: props.href if props.href else "/",
            text: __("Back to start")
        }) }}
    {% elif props.editModeFirstPage %}
        {{ govukBackLink({
            href: props.href,
            text: __("Back")
        }) }}
    {% elif props.partnerDetailsBackUrl %}
        {{ govukBackLink({
            href: props.partnerDetailsBackUrl,
            text: __("Back")
        }) }}    
    {% else %}
        {{ govukBackLink({
            href: props.backHref if props.backHref else ("/back" + props.currentPage),
            text: __("Back")
        }) }}
    {% endif %}
{% endmacro %}