{% from "../node_modules/govuk-frontend/dist/govuk/components/back-link/macro.njk" import govukBackLink %}
{% macro backButton(props) %}
  {% if not(props.hideback or props.editModeFirstPage) %}
    {% if props.backToStart %}
      {{ govukBackLink({
              href: props.href if props.href else "/new",
              text: __("Back to start", props.language)
          }) }}
    {% elif props.currentPage == "/partner-details" %}
      {{ govukBackLink({
              href: props.partnerDetailsBackUrl,
              text: __("Back", props.language)
          }) }}
    {% elif props.currentPage == "/la-selector" %}
      {% if props.fullCurrentPage === "/la-selector?back=wrong-la" %}
        {{ govukBackLink({
              href: "/new/la-established",
              text: __("Back", props.language)
          }) }}
      {% else %}
        {{ govukBackLink({
              href: "/new/establishment-address",
              text: __("Back", props.language)
          }) }}
      {% endif %}
      
    {% else %}
      {{ govukBackLink({
              href: props.backHref if props.backHref else ("/back" + props.currentPage),
              text: __("Back", props.language)
          }) }}
    {% endif %}
  {% endif %}
{% endmacro %}