{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% macro backButton(props) %}
    {% if props.hideback or props.editModeFirstPage or not props.council %}

    {% elif props.backToStart %}
        {{ govukBackLink({
            href: props.href if props.href else "/new/" + props.council,
            text: __("Back to start")
        }) }}
    {% elif props.fullCurrentPage == "/partner-details" %}
        {{ govukBackLink({
            href: props.partnerDetailsBackUrl,
            text: __("Back")
        }) }}    
    {% else %}
        {{ govukBackLink({
            href: props.backHref if props.backHref else ("/back" + props.currentPage),
            text: __("Back")
        }) }}
    {% endif %}
{% endmacro %}