{% from "BackButton.njk" import backButton %}

{% macro backAndLanguageBar(props) %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    {{ backButton(props) }}
    </div>
    <div class="govuk-grid-column-one-third">
      <p>
        <a href="?lang=en" 
          class="govuk-link" 
          id="languageEnHeader"
          rel="noopener noreferrer"
          aria-label="Change the language to English"
          style = 'cursor:{{__("enLangLink-cursor")}}; 
                    text-decoration:{{__("enLangLink-underline")}}; 
                    font-weight:{{__("enLangLink-fontWeight")}};'
          > 
          English 
          </a>
        |
        <a href="?lang=cy"
          class="govuk-link" 
          id="languageCyHeader" 
          rel="noopener noreferrer"
          aria-label="Newid yr iaith i'r Gymraeg"
          style = 'cursor:{{__("cyLangLink-cursor")}}; 
                    text-decoration:{{__("cyLangLink-underline")}}; 
                    font-weight:{{__("cyLangLink-fontWeight")}};'
          > 
          Cymraeg 
          </a>
      </p>
    </div>
  </div>
{% endmacro %}