{% from "govuk/components/details/macro.njk" import govukDetails %}

{% macro establishmentHiddenDetails() %}

    {{ govukDetails({
    summaryText: __("What is an establishment?"),
    text: __("An establishment is the location of your food business. If it is a mobile food business, please use the location where it is normally stored overnight.")
    }) }}

{% endmacro %}