{% from "govuk/components/details/macro.njk" import govukDetails %}
{% macro establishmentHiddenDetails(props) %}
    {{ govukDetails({
    summaryText: __("What is an establishment?", props.language),
    text: __("An establishment is the location of your food business. If it is a mobile food business, please use the location where it is normally stored overnight. If the business is operating from a home address, enter that postcode.", props.language)
    }) }}
    {{ govukDetails({
    summaryText: __("Why we ask for establishment's postcode?", props.language),
    text: __("The postcode of your establishment will help to direct the registration to the correct food saftey team.", props.language)
    }) }}
{% endmacro %}