{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../components/PostForm.njk" import postForm %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "../components/ProcessedErrorSummary.njk" import processedErrorSummary %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}



{% macro establishmentDueToTrade() %}
{{ govukDateInput({
  id: "establishment_opening_date",
  namePrefix: "establishment_opening_date",
  fieldset: {
    legend: {
      text: __("When is this establishment expected to begin trading?"),
      isPageHeading: true,
      classes: "govuk-label--s"
    }
  },
  hint: {
    text: ['For example, ', creation_date | date("add", 40, "days") | date("DD MM YYYY")] | join
  },
  items: [
    {
      name: "day",
      classes: "govuk-input--width-2",
      defaultValue: props.cumulativeFullAnswers.day
    },
    {
      name: "month",
      classes: "govuk-input--width-2",
      defaultValue: props.cumulativeFullAnswers.month
    },
    {
      name: "year",
      classes: "govuk-input--width-4",
      defaultValue: props.cumulativeFullAnswers.year
    }
  ],
  errorMessage: {
    text: __(props.validatorErrors.establishment_opening_date)} if props.validatorErrors.establishment_opening_date
}) }}
{% endmacro %}

{% macro establishmentTrading() %}
{{ govukDateInput({
  id: "establishment_opening_date",
  namePrefix: "establishment_opening_date",
  fieldset: {
    legend: {
      text: __("What date did this establishment begin trading?"),
      classes: "govuk-label--s"
    }
  },
  hint: {
    text: ['For example, ', creation_date | date("subtract", 40, "days") | date("DD MM YYYY")] | join
  },
  items: [
    {
      name: "day",
      classes: "govuk-input--width-2",
      defaultValue: props.cumulativeFullAnswers.day
    },
    {
      name: "month",
      classes: "govuk-input--width-2",
      defaultValue: props.cumulativeFullAnswers.month
    },
    {
      name: "year",
      classes: "govuk-input--width-4",
      defaultValue: props.cumulativeFullAnswers.year
    }
  ],
  errorMessage: {
    text: __(props.validatorErrors.establishment_opening_date)} if props.validatorErrors.establishment_opening_date
}) }}
{% endmacro %}


{% extends "layout.njk" %}
{% block content %}
  {{ props.currentPageWithQuery }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {% call postForm("/continue" + props.currentPage, props.csrfToken, props.language) -%}
    {{ processedErrorSummary(props.validatorErrors, props.language) }}

    {% call govukFieldset({
        legend: {
          text: __("Expected opening date") if props.cumulativeFullAnswers.establishment_opening_status === "Establishment due to trade" else __("Opening Date"),
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
                }
    }) %}
          
    <p id= "hint">{{__("Establishments begin trading when they first start serving or manufacturing food for customers.")}}</p>
    
    {{ establishmentDueToTrade() if props.cumulativeFullAnswers.establishment_opening_status === "Establishment due to trade" else establishmentTrading() }}

    {{ govukDetails({
    summaryText: __("I don't know when this establishment will begin trading"),
    text: __("Food businesses are required to register at least 28 days before they begin trading. If you are not sure when this business will open, it may be too early to register. You can also use an estimated date.")
    }) }}
    {% endcall%}
    {{ govukButton({
      text: "Continue"
    }) }}
  {%- endcall %}
    </div>
  </div>
  <style>
    #hint {
      color:#6F777B;
      font-size: 19px;
      font-family: Arial, Helvetica, sans-serif;
    }
  </style>
{% endblock %}