{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro partnersTable(props) %}

<div> {{partnersRows}} </div>
{% set hasGETParams = true if props.partnerDetailsUrl else false %}
    {{ changeLink }}
    {% set count = 0 %}
    {{ ID }}

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">{{__("Partners")}}</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">{{ __("Partner name") }}</th>
      <th scope="col" class="govuk-table__header">{{ __("Edit") }}</th>
      <th scope="col" class="govuk-table__header">{{ __("Remove") }}</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for partner in props.cumulativeFullAnswers.partners %}
      {% set ID = "partner" + count + "RowChange" %}
      {% set changeLink = (props.partnerDetailsUrl + "?id=" + count) if hasGETParams else (props.partnerDetailsUrl + "?id=" + count)  %} 
      <tr class="govuk-table__row" id = "partnerRow{{count}}" key = "partnerRow{{count}}">
          <td class="govuk-table__cell" id = "partner{{count}}">{{ partner }}</td>
          <td class="govuk-table__cell"><a id="{{ID}}" class="govuk-body" href="{{changeLink}}" aria-label="{{__('Change partner name')}}">{{ __('Change') }}</a></td>
          <td class="govuk-table__cell"><button class="govuk-button" data-module="govuk-button" type="submit" name="index" value="{{count}}" id="deletePartnerButton{{count}}">
            {{__("Delete partner")}}
          </button> </td>
      </tr>
      {% set count = count + 1 %}
    {% endfor %}
  </tbody>
</table>

{% endmacro %}