{% macro postForm(action, csrfToken, language, id) %}
  <form action="{{ action }}" method="post" {% if id %} id="{{ id }}" {% endif %}>
    {{ caller() }}
    {# This is where the form content will be placed #}
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
    <input type="hidden" name="language" value="{{ language }}"/>
  </form>
{% endmacro %}