{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% macro processedErrorSummary(validatorErrors) %}
  {% if validatorErrors | length %}
    {{ govukErrorSummary({
        titleText: __("There is a problem"),
        errorList: validatorErrors | selectValidationErrors
    }) }}
  {% endif %}
{% endmacro %}