{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% macro processedErrorSummary(validatorErrors, language) %}
  {% if validatorErrors | length %}
    {{ govukErrorSummary({
        titleText: __({ phrase: "There is a problem", locale: language }),
        errorList: validatorErrors | selectValidationErrors(language)
    }) }}
  {% endif %}
{% endmacro %}