{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro summaryListHelperWithoutEdit(keyText, valueText, href, property, id) %}
    {{ govukSummaryList({
        rows: 
        [
        {
        key: { 
        text:  keyText
        },
        value: {
        text: valueText
        }          
        }
        ]
    }) }}
{% endmacro %}

{% macro summaryListHelper(keyText, valueText, href, property, id) %}

  {% if property %}
    {% set hrefText = __("Change") %}
  {% else %}
    {% set hrefText = __("Enter answer") %}
  {% endif %}

  {{ govukSummaryList({
        rows: 
        [
        {
        key: { 
        text:  keyText
        },
        value: {
        text: valueText
        },
        id:
        {
        text: id
        },
        actions: 
        {
        items: 
            [
            {
            href: href,
            text: hrefText
            }
            ]
        }               
        }
        ]
    }) }}
{% endmacro %}

{% macro summaryListHelperHtmlWithoutEdit(keyText, valueHtml, href, property) %}
  {{ govukSummaryList({
      rows: 
      [
      {
      key: { 
      text:  keyText
      },
      value: {
      html: valueHtml
      }            
      }
      ]
  }) }}
{% endmacro %}

{% macro summaryListHelperHtml(keyText, valueHtml, href, property) %}

  {% if property %}
    {% set hrefText = __("Change") %}
  {% else %}
    {% set hrefText = __("Enter answer") %}
  {% endif %}

  {{ govukSummaryList({
        rows: 
        [
        {
        key: { 
        text:  keyText
        },
        value: {
        html: valueHtml
        },
        actions: 
        {
        items: 
            [
            {
            href: href,
            text: hrefText
            }
            ]
        }               
        }
        ]
    }) }}
{% endmacro %}

{% macro summaryListDeclarationHelper(keyhtml, valueText) %}

  {{ govukSummaryList({
        rows: 
        [
        {
        key: { 
        html:  keyhtml
        },
        value: {
        text: valueText
        }          
        }
        ]
    }) }}
{% endmacro %}