{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro summaryListHelper(keyText, valueText, href, property) %}

 {% if property %}
    {% set hrefText = __("Change") %}
 {% else %}
  {% if not property %}
    {% set hrefText = null %}
  {% else %}
    {% set hrefText = __("Enter answer") %}   
  {% endif %}       
 {% endif %}

    {{ govukSummaryList({
        rows: 
        [
        {
        key: { 
        text:  keyText
        },
        value: {
        text: valueText
        },
        actions: 
        {
        items: 
            [
            {
            href: href,
            text: hrefText
            }
            ]
        }               
        }
        ]
    }) }}
{% endmacro %}

{% macro summaryListHelperHtml(keyText, valueHtml, href, property) %}

{% if property %}
    {% set hrefText = __("Change") %}
 {% else %}
  {% if not property %}
    {% set hrefText = null %}
  {% else %}
    {% set hrefText = __("Enter answer") %}   
  {% endif %}       
 {% endif %}

    {{ govukSummaryList({
        rows: 
        [
        {
        key: { 
        text:  keyText
        },
        value: {
        html: valueHtml
        },
        actions: 
        {
        items: 
            [
            {
            href: href,
            text: hrefText
            }
            ]
        }               
        }
        ]
    }) }}
{% endmacro %}

{% macro summaryListDeclarationHelper(keyhtml, valueText) %}

    {{ govukSummaryList({
        rows: 
        [
        {
        key: { 
        html:  keyhtml
        },
        value: {
        text: valueText
        }          
        }
        ]
    }) }}
{% endmacro %}