{% from "../node_modules/govuk-frontend/dist/govuk/components/table/macro.njk" import govukTable %}
{% macro tradingNamesTable(props) %}
  <div>
    {{ tradingNamesRows }}
  </div>
  {% set tradingNameDetailsUrlContainsQuestionMark = false %}
  {% for character in props.tradingNameDetailsUrl %}
    {% if character === '?' %}
      {% set tradingNameDetailsUrlContainsQuestionMark = true if props.tradingNameDetailsUrl %}
    {% endif %}
  {% endfor %}
  {% set hasGETParams = true if (props.tradingNameDetailsUrl and tradingNameDetailsUrlContainsQuestionMark) 
    else 
      false %}
  {{ changeLink }}
  {% set count = 0 %}
  {{ ID }}
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">{{ __("Trading names", props.language) }}</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">{{ __("Trading name", props.language) }}</th>
        <th scope="col" class="govuk-table__header">{{ __("Edit", props.language) }}</th>
        <th scope="col" class="govuk-table__header">{{ __("Remove", props.language) }}</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for tradingName in props.cumulativeFullAnswers.establishment_additional_trading_names %}
        {% set ID = "tradingName" + count + "RowChange" %}
        {% set changeLink = (props.tradingNameDetailsUrl + "&id=" + count)if hasGETParams else 
          (props.tradingNameDetailsUrl + "?id=" + count) %}
        <tr class="govuk-table__row" id="tradingNameRow{{ count }}" key="tradingNameRow{{ count }}">
          <td class="govuk-table__cell" id="tradingName{{ count }}">{{ tradingName }}</td>
          <td class="govuk-table__cell">
            <a id="{{ ID }}" class="govuk-link" href="{{ changeLink }}" aria-label="{{ __('Change trading name', props.language) }}">{{ __('Change', props.language) }}</a>
          </td>
          <td class="govuk-table__cell">
            <button class="govuk-button" data-module="govuk-button" type="submit" name="index" value="{{ count }}" id="deleteTradingNameButton{{ count }}">
              {{ __("Delete trading name", props.language) }}
            </button>
          </td>
        </tr>
        {% set count = count + 1 %}
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}