{#
  Accessibility Statement page
  Route:      /accessibility  (src/routes/static.route.js)
#}
{% extends "layout.njk" %}
{% block beforeContent %}
    {{ govukPhaseBanner({
    tag: { text: "beta" },
    html: __('This is a new service', props.language) + ' – ' + '<a class="govuk-link" target="_blank" rel="noopener noreferrer" aria-label="' + 
      __('your feedback (opens in new window)', props.language) + 
      '" href="'+__('feedback-form', props.language)+'">' +
      __('your feedback', props.language) + '</a> ' + __('will help us improve it', props.language) + '.'
  }) }}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <a href="#" onclick="history.back(); return false;" class="govuk-back-link">{{ __("Back", props.language) }}</a>
        </div>
        <div class="govuk-grid-column-one-quarter" style="float:right">
            <p style="text-align: right">
                <a
                    href="?lang=en"
                    class="govuk-link"
                    id="languageEnHeader"
                    rel="noopener noreferrer"
                    aria-label="Change the language to English"
                    style='cursor:{{ __("enLangLink-cursor", props.language) }};text-decoration:{{ __("enLangLink-underline", props.language)
                        }};font-weight:{{ __("enLangLink-fontWeight", props.language) }};'>
                English</a>
                |
                <a
                    href="?lang=cy"
                    class="govuk-link"
                    id="languageCyHeader"
                    rel="noopener noreferrer"
                    aria-label="Newid yr iaith i'r Gymraeg"
                    style='cursor:{{ __("cyLangLink-cursor", props.language) }};text-decoration:{{ __("cyLangLink-underline", props.language)
                        }};font-weight:{{ __("cyLangLink-fontWeight", props.language) }};'>
                Cymraeg</a>
            </p>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">{{ __("Accessibility statement for 'Register a food business' service", props.language) }}</h1>
            <p class="govuk-body-l">{{ __("This accessibility statement applies to the Register a food business service.", props.language) }}</p>
            <p class="govuk-body">{{ __("The", props.language) }}
                <a class="govuk-link" href="https://www.gov.uk/food-business-registration" target="_blank" rel="noopener">{{ __("Register a food business service (opens in a new tab)", props.language) }}</a>
                {{ __("is run by the Food Standards Agency. We want as many people as possible to be able to use this service. For example, that means you should be able to:", props.language) }}</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>{{ __("zoom in up to 300% without the text spilling off the screen", props.language) }}</li>
                <li>{{ __("navigate most of the website using just a keyboard", props.language) }}</li>
                <li>{{ __("navigate most of the website using speech recognition software", props.language) }}</li>
                <li>{{ __("listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)", props.language) }}</li>
            </ul>
            <p class="govuk-body">{{ __("We've also made the website text as simple as possible to understand.", props.language) }}
                <a class="govuk-link" href="https://mcmw.abilitynet.org.uk/" target="_blank" rel="noopener">{{ __("AbilityNet (opens in a new tab)", props.language) }}</a>
                {{ __("has advice on making your device easier to use if you have a disability.", props.language) }}</p>
            <h2 class="govuk-heading-l">{{ __("How accessible this website is", props.language) }}</h2>
            <p class="govuk-body">{{ __("We know some parts of this website are not fully accessible. You can see a full list of any issues in the Non-accessible content section of this statement.", props.language) }}</p>
            <h2 class="govuk-heading-l">{{ __("Feedback and contact information", props.language) }}</h2>
            <p class="govuk-body">{{ __("If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille:", props.language) }}</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>{{ __("Email:", props.language) }}
                    <a class="govuk-link" href="mailto:fsa.communications@food.gov.uk">fsa.communications@food.gov.uk</a>
                </li>
                <li>{{ __("Phone our Helpline: 0330 332 7149 (open 9.00am until 5pm, Monday to Friday)", props.language) }}</li>
            </ul>
            <p class="govuk-body">{{ __("We will consider your request and get back to you in 10 days.", props.language) }}</p>
            <h2 class="govuk-heading-l">{{ __("Reporting accessibility problems with this website", props.language) }}</h2>
            <p class="govuk-body">{{ __("We're always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we're not meeting accessibility requirements, contact:", props.language) }}</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>{{ __("Email:", props.language) }}
                    <a class="govuk-link" href="mailto:fsa.communications@food.gov.uk">fsa.communications@food.gov.uk</a>
                </li>
                <li>{{ __("Phone our Helpline: 0330 332 7149 (open 9.00am until 5pm, Monday to Friday)", props.language) }}</li>
            </ul>
            <p class="govuk-body">
                <a class="govuk-link" href="http://www.w3.org/WAI/users/inaccessible" target="_blank" rel="noopener">{{ __("Read tips on contacting organisations about inaccessible websites (opens in a new tab)", props.language) }}</a>
            </p>
            <h2 class="govuk-heading-l">{{ __("Enforcement procedure", props.language) }}</h2>
            <p class="govuk-body">{{ __("The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you're not happy with how we respond to your complaint,", props.language) }}
                <a class="govuk-link" href="https://www.equalityadvisoryservice.com/" target="_blank" rel="noopener">{{ __("contact the Equality Advisory and Support Service (EASS) (opens in a new tab)", props.language) }}</a>.</p>
            <p class="govuk-body">{{ __("If you are in Northern Ireland and are not happy with how we respond to your complaint you can contact the", props.language) }}
                <a class="govuk-link" href="https://www.equalityni.org/Home" target="_blank" rel="noopener">{{ __("Equalities Commission for Northern Ireland (opens in a new tab)", props.language) }}</a>
                {{ __("who are responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations') in Northern Ireland.", props.language) }}</p>
            <h2 class="govuk-heading-l">{{ __("Technical information about this website's accessibility", props.language) }}</h2>
            <p class="govuk-body">{{ __("The Food Standards Agency is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.", props.language) }}</p>
            <h3 class="govuk-heading-m">{{ __("Compliance status", props.language) }}</h3>
            <p class="govuk-body">{{ __("This website is partially compliant with the", props.language) }}
                <a class="govuk-link" href="https://www.w3.org/TR/WCAG21/" target="_blank" rel="noopener">{{ __("Web Content Accessibility Guidelines version 2.1 (opens in a new tab)", props.language) }}</a>
                {{ __("AA standard, due to the non-compliances and exemptions listed below.", props.language) }}</p>
            <h2 class="govuk-heading-l">{{ __("Non-accessible content", props.language) }}</h2>
            <p class="govuk-body">{{ __("The content listed below is non-accessible for the following reasons.", props.language) }}</p>
            <h3 class="govuk-heading-m">{{ __("Non-compliance with the accessibility regulations", props.language) }}</h3>
            <p class="govuk-body">{{ __("The content that is not accessible is outlined below with details of planned dates for when issues will be fixed.", props.language) }}</p>
            <h4 class="govuk-heading-s">{{ __("Links", props.language) }}</h4>
            <ul class="govuk-list govuk-list--bullet">
                <li>{{ __("Some links do not clearly explain their purpose or specify when they open in a new window. This could be confusing for screen reader users. We are working to contextualise these links and make them clearer. (WCAG 2.1 2.4.4 Link Purpose (In Context))", props.language) }}</li>
            </ul>
            <h4 class="govuk-heading-s">{{ __("Headings and page structure", props.language) }}</h4>
            <ul class="govuk-list govuk-list--bullet">
                <li>{{ __("Some headings are not descriptive and do not provide a clear indication as to what the page is about. Users are encouraged to read the page contents for full details. (WCAG 2.1 1.3.1 Info and Relationships, 2.4.6 Headings and Labels)", props.language) }}</li>
                <li>{{ __("The table summary of user details are not hidden correctly when in high contrast mode. (WCAG 2.1 1.4.8 Visual presentation)", props.language) }}</li>
            </ul>
            <h4 class="govuk-heading-s">{{ __("Form elements", props.language) }}</h4>
            <ul class="govuk-list govuk-list--bullet">
                <li>{{ __("Some form fields are not grouped appropriately, require clearer field labels and group descriptions. Although, there are labels available they are not all clear enough to describe the content. This should not impact on a users ability to complete the form. (WCAG 2.1 1.3.1 Info and Relationships, 2.4.6 Headings and Labels)", props.language) }}</li>
                <li>{{ __("Some form fields require greater context to ensure users can identify the purpose of the edit field. (WCAG 2.1 2.4.6 Headings and labels)", props.language) }}</li>
            </ul>
            <h4 class="govuk-heading-s">{{ __("Help text", props.language) }}</h4>
            <ul class="govuk-list govuk-list--bullet">
                <li>{{ __("Some help text appears on pages that do not need that information, this could confuse users. Users are encouraged to ignore help text if it appears out of context. (WCAG 2.1 1.3.1 Info and Relationships, 3.3.2 Labels or Instructions)", props.language) }}</li>
            </ul>
            <h4 class="govuk-heading-s">{{ __("Navigation", props.language) }}</h4>
            <ul class="govuk-list govuk-list--bullet">
                <li>{{ __("Visual focus indicators do not meet the minimum required colour contrast ratio. We are working to amend this as quickly as possible. (WCAG 2.1 1.4.11 Non-text Contrast)", props.language) }}</li>
                <li>{{ __("Some fields have drop down options that cannot be accessed when using the service with reflow options. This might inhibit a users ability to fill out the form, please try on a different device if reflow causes an issue. (WCAG 2.1 1.4.10 Reflow)", props.language) }}</li>
            </ul>
            <h3 class="govuk-heading-m">{{ __("Disproportionate burden", props.language) }}</h3>
            <p class="govuk-body">{{ __("At this time, we have not made any disproportionate burden claims.", props.language) }}</p>
            <h3 class="govuk-heading-m">{{ __("Content that's not within the scope of the accessibility regulations", props.language) }}</h3>
            <p class="govuk-body">{{ __("At this time, we have not identified any content that is not within the scope of the accessibility regulations.", props.language) }}</p>
            <h2 class="govuk-heading-l">{{ __("Preparation of this accessibility statement", props.language) }}</h2>
            <p class="govuk-body">{{ __("This statement was prepared on 11 September 2020. It was last updated on 14 July 2021.", props.language) }}</p>
            <p class="govuk-body">{{ __("This service was last tested on 22 April 2021. The test was carried out by Digital Accessibility Centre (DAC). We will update this statement as soon as the issues have been rectified.", props.language) }}</p>
        </div>
    </div>
{% endblock %}