{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../components/PostForm.njk" import postForm %}
{% from "../components/ProcessedErrorSummary.njk" import processedErrorSummary %}
{% extends "layout.njk" %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% call postForm(props.formAction, props.csrfToken, props.language) -%}
      {{ processedErrorSummary(props.validatorErrors, props.language) }}
      {{ govukTextarea({
            name: "business_other_details",
            id: "business_other_details",
            value: props.cumulativeFullAnswers.business_other_details,
            "errorMessage": { "text": __(props.validatorErrors.business_other_details) } if props.validatorErrors.business_other_details,
            label: {
                text: __("Other details", props.language),
                classes: "govuk-label--l",
                isPageHeading: true
            },
            hint: {
                text: __("Is there anything else you need to tell us about this establishment for example what type of food you are planning to sell and what food handling or processing methods you plan to use (optional)", props.language)
            }
        }) }}
      {{ govukButton({
            text: __("Save and continue", props.language) if props.editModeFirstPage else __("Continue", props.language)
        }) }}
      {% endcall %}
    </div>
  </div>
{% endblock %}