{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% from "../components/PostForm.njk" import postForm %}
{% from "../components/ProcessedErrorSummary.njk" import processedErrorSummary %}

{% extends "layout.njk" %}

{% block content %}

 {{ props.currentPageWithQuery }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% call postForm("/continue" + props.currentPage, props.csrfToken, props.language) -%}

        {{ processedErrorSummary(props.validatorErrors, props.language) }}

        {{ govukCheckboxes({
            idPrefix: "waste",
            name: "waste",
            fieldset: {
                legend: {
                text: "Will this food business import or export any food from outside the UK?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
                }
            },
        hint: {
            text: "Select all that apply."
        },
        items: [
            {
            id:  "import_export_activities_directly_export",
            name: "directly_import",
            value: "IMPORT",
            text: __("Directly import food")
            },
            {
            id: "import_export_activities_directly_export",
            name: "directly_export",
            value: "EXPORT",
            text:  __("Directly export food")
            },
            {
            id: "import_export_activities_none",
            name: "no_import_export",
            value: "NONE",
            text: "Farm or agricultural waste"
            }
        ]
        }) }}

        {{ govukDetails({
                summaryText: __("More information about import and export activities"),
                text:  __("If a food business is directly importing or exporting food outside of the UK, there are some extra requirements for the business to follow.")
        }) }}

        <br> 
        <br>
        {% set busImpExpLink = __("import/export-link") %}
     
        <a href = {{ busImpExpLink }}
            target="_blank"
            rel="noopener noreferrer"
            id="link-fsa-website" >{{__("Find out more by visiting the ") }} {{__("Food Standards Agency website") }}
        </a>     
        <br>
        <br>
        {{ govukButton({
            text: __("Continue")
        }) }}
     
      {% endcall%}

{% endblock%}