{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% from "../components/PostForm.njk" import postForm %}
{% from "../components/ProcessedErrorSummary.njk" import processedErrorSummary %}

{% extends "layout.njk" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% call postForm("/continue" + props.currentPage, props.csrfToken, props.language) -%}

      {{ processedErrorSummary(props.validatorErrors, props.language) }}

      {% call govukFieldset({
          legend: {
            text: __("What kind of food business are you registering?"),
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
                  }
        }) %}
      {% endcall%}
      {% call govukInsetText({
          text: __("Search with your own keywords and then select the most fitting business type from the suggestions"),
          classes: "govuk-fieldset__legend--l"
        }) %}
      {% endcall %}

      {% set businesstype = [__("cafe"), __("food delivery service"), __("commercial bakery"), __("meat product manufacturer")] %}
      {% set exampleHeading = __("For Example") %}
      <div class = "govuk-label">
        <label>
         {{ exampleHeading }}
        </label>
        {% for items in businesstype | slice(4) %}
          <ul>
            {% for item in items %}
              <li>
                {{ item }}</li>
              {% endfor%}
            </ul>
          {% endfor %}
        </div>

        {{ govukSelect({
          id: "businessTypeLookup",
          name: "business_type",
          label: {
            text: __("Select business type")
          },
          items: [
            {
              value: "Beekeeper (keeper)",
              text: "Beekeeper (keeper)"
            },
            {
              value: "Abattoir (halal)",
              text: "Abattoir (halal)"
            },
            {
              value: "Cash and carry (supplier)",
              text: "Cash and carry (supplier)"
            },
            {
              value: "Alcoholic drinks manufacturer",
              text: "Alcoholic drinks manufacturer"
            }
          ]
        }) }}

        {{ govukButton({
                text: __("Continue")
            }) }}

        {%endcall%}
      </div>
    </div>
    {% endblock%}