{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% from "../components/PostForm.njk" import postForm %}

{% extends "layout.njk" %}

{% block content %}

  {{ props.currentPageWithQuery }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% call postForm("/continue" + props.currentPage, props.csrfToken, props.language) -%}
      {% call govukFieldset({
          legend: {
            text: __("What kind of food business are you registering?"),
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
                  }
        }) %}
      {% endcall%}
      {% call govukInsetText({
          text: __("Search with your own keywords and then select the most fitting business type from the suggestions"),
          classes: "govuk-fieldset__legend--l"
        }) %}
      {% endcall %}

      {% set businesstype = [__("cafe"), __("food delivery service"), __("commercial bakery"), __("meat product manufacturer")] %}
      {% set exampleHeading = __("For Example") %}
      <div class = "govuk-label">
        <label>
         {{ exampleHeading }}
        </label>
        {% for items in businesstype | slice(4) %}
          <ul>
            {% for item in items %}
              <li>
                {{ item }}</li>
              {% endfor%}
            </ul>
          {% endfor %}
        </div>

        {%endcall%}
      </div>
    </div>
    {% endblock%}