{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layout.njk" %}
{% set props = mergeObjects(props, {backToStart: true}) %}
{% block content %}
  {{ props.currentPageWithQuery }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 id="main-heading" class="govuk-heading-l">{{ __("Unfortunately, you cannot use this service", props.language) }}</h1>
      <p class="govuk-body">{{ __("We can't identify the local authority to direct your registration to. Please contact your local authority for more details on how to register in your area.", props.language) }}</p>
      
        {% call 
        govukButton({text: "Contact your Local Authority", href: ""}) %}
        {% endcall %}
      
    </div>
  </div>
{% endblock %}