{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../components/PostForm.njk" import postForm %}
{% from "../components/ProcessedErrorSummary.njk" import processedErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% call postForm("/continue" + props.currentPage, props.csrfToken, props.language) -%}
      {{ processedErrorSummary(props.validatorErrors, props.language) }}

      {% call govukFieldset({
          describedBy: "operators_name",
            legend: {
              text: __("Contact representative details"),
              classes: "govuk-fieldset__legend--l",
              isPageHeading: true
            }  
          }) %}
          <p class="govuk-body"> {{__("Please give us the details of the person at this company or charity we should speak to about food hygiene and safety.") }}
          </p>
      {{ govukDetails({
                summaryText: __("What is a food business operator?"),
                text: __("The operator is the person or people, charity or company who makes the decisions about the food business. They decide what it serves and how it operates.")
              }) }}
      {{ govukInput({
                "label": {
                  "text": __("Name of contact")
                },
                "id": "contact_representative_name",
                "name": "contact_representative_name",
                "classes": "govuk-label--l",
                "autoComplete": "off",
                "value": props.cumulativeFullAnswers.contact_representative_name,
              "errorMessage": { "text": __(props.validatorErrors.contact_representative_name) } if props.validatorErrors.contact_representative_name
      }) }}
      {{ govukInput({
                "label": {
                  "text": __("Role (optional)")
                },
                "id": "contact_representative_role",
                "name": "contact_representative_role",
                "classes": "govuk-label--l",
                "autoComplete": "off",
                "value": props.cumulativeFullAnswers.contact_representative_role,
                "errorMessage": { "text": __(props.validatorErrors.contact_representative_role) } if props.validatorErrors.contact_representative_role
      }) }}
      {{ govukInput({
                "label": {
                    "text": __("Phone number")
                },
                "id": "contact_representative_number",
                "name": "contact_representative_number",
                "value": props.cumulativeFullAnswers.contact_representative_number,
                "classes": "govuk-label--l",
                "autoComplete": "tel",
                "errorMessage": {
                "text":  __(props.validatorErrors.contact_representative_number) } if props.validatorErrors.contact_representative_number       
      }) }}
      {{ govukInput({
                "label": {
                    "text": __("Email address")
                },
                "hint": {
                "text": __("We will use your email to keep you informed of any policy or legal changes that could affect your food business.")
                },
                "id": "contact_representative_email",
                "name": "contact_representative_email",
                "value": props.cumulativeFullAnswers.contact_representative_email,
                "classes": "govuk-label--l",
                "autoComplete": "email",
                "errorMessage": {
                "text": __(props.validatorErrors.contact_representative_email) } if props.validatorErrors.contact_representative_email
      }) }}
      {% endcall %}
      {{ govukButton({
            text: __("Continue")
          }) }}
      {%- endcall %}
    </div>
  </div>
{% endblock %}