{% from "../node_modules/govuk-frontend/dist/govuk/components/button/macro.njk" import govukButton %}
{% from "../components/PostForm.njk" import postForm %}
{% from "../components/ProcessedErrorSummary.njk" import processedErrorSummary %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/input/macro.njk" import govukInput %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/details/macro.njk" import govukDetails %}
{% extends "layout.njk" %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% call postForm(props.formAction, props.csrfToken, props.language) -%}
      {{ processedErrorSummary(props.validatorErrors, props.language) }}
      {% call govukFieldset({
          describedBy: "operators_name",
            legend: {
              text: __("Contact representative details", props.language),
              classes: "govuk-fieldset__legend--l",
              isPageHeading: true
            }  
          }) %}
      <p class="govuk-body">
        {{ __("Please give us the details of the person at this company or charity we should speak to about food hygiene and safety.", props.language) }}
      </p>
      {{ govukDetails({
                summaryText: __("What is a food business operator?", props.language),
                text: __("The operator is the person or people, charity or company who makes the decisions about the food business. They decide what it serves and how it operates.", props.language)
              }) }}
      {{ govukInput({
                "label": {
                  "text": __("Name of contact", props.language)
                },
                "id": "contact_representative_name",
                "name": "contact_representative_name",
                "classes": "govuk-label--l",
                "autoComplete": "off",
                "value": props.cumulativeFullAnswers.contact_representative_name,
              "errorMessage": { "text": __(props.validatorErrors.contact_representative_name, props.language) } if props.validatorErrors.contact_representative_name
      }) }}
      {{ govukInput({
                "label": {
                  "text": __("Role (optional)", props.language)
                },
                "id": "contact_representative_role",
                "name": "contact_representative_role",
                "classes": "govuk-label--l",
                "autoComplete": "off",
                "value": props.cumulativeFullAnswers.contact_representative_role,
                "errorMessage": { "text": __(props.validatorErrors.contact_representative_role, props.language) } if props.validatorErrors.contact_representative_role
      }) }}
      {{ govukInput({
                "label": {
                    "text": __("Phone number", props.language)
                },
                "id": "contact_representative_number",
                "name": "contact_representative_number",
                "value": props.cumulativeFullAnswers.contact_representative_number,
                "classes": "govuk-label--l",
                "autoComplete": "tel",
                "errorMessage": {
                "text":  __(props.validatorErrors.contact_representative_number, props.language) } if props.validatorErrors.contact_representative_number       
      }) }}
      {{ govukInput({
                "label": {
                    "text": __("Email address", props.language)
                },
                "hint": {
                "text": __("We will use your email to keep you informed of any policy or legal changes that could affect your food business.", props.language)
                },
                "id": "contact_representative_email",
                "name": "contact_representative_email",
                "value": props.cumulativeFullAnswers.contact_representative_email,
                "classes": "govuk-label--l",
                "autoComplete": "email",
                "errorMessage": {
                "text": __(props.validatorErrors.contact_representative_email, props.language) } if props.validatorErrors.contact_representative_email
      }) }}
      {% endcall %}
      {{ govukButton({
            text: __("Save and continue", props.language) if props.editModeFirstPage else __("Continue", props.language)
          }) }}
      {%- endcall %}
    </div>
  </div>
{% endblock %}