{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../components/PostForm.njk" import postForm %}
{% from "../components/ProcessedErrorSummary.njk" import processedErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% extends "layout.njk" %}

{% block content %}
{{ props.currentPageWithQuery }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% call postForm(props.formAction, props.csrfToken, props.language) -%}
      {{ processedErrorSummary(props.validatorErrors, props.language) }}

        {{ govukCheckboxes({
        idPrefix: "customer_type",
        name: "customer_type",
        fieldset: {
            legend: {
            text: __("Who will this establishment supply food to?"),
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
            }
        },
        hint: {
            text: __("Select all that apply")
        },
        errorMessage: {
            text: __(props.validatorErrors.customer_type)} if props.validatorErrors.customer_type
        ,
        items: [
            {
            value: "OTHER_BUSINESSES",
            id: "customer_type_supply_other",
            checked: props.cumulativeFullAnswers.customer_other,
            name: "supply_other",
            text: __("The establishment will supply food to other businesses to process, sell or serve")
            },
            {
            value: "END_CONSUMER",
            id: "customer_type_supply_directly",
            checked: props.cumulativeFullAnswers.customer_end,
            name: "supply_directly",
            text: __("The establishment will supply food directly to end consumers")
            }
        ]
        }) }}

        {{ govukButton({
              text: __("Save and continue") if props.editModeFirstPage else __("Continue")
            }) }}
      {%- endcall %}
    </div>
  </div>
{% endblock %}