{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../components/PostForm.njk" import postForm %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "layout.njk" %}

{% block content %}

{{ props.currentPageWithQuery }}
  
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

      {% call postForm("/continue" + props.currentPage, props.csrfToken, props.language) -%}

        {% if props.validatorErrors | length %}
                {{ govukErrorSummary({
                titleText: __("There is a problem"),
                errorList: props.validatorErrorsArray
            }) }}
        {% endif %}

        {% call govukFieldset({
          legend: {
            text: __("What is an establishment?"),
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
                  }
            }) %}
        {% endcall%}

         {{ govukDetails({
                summaryText: __("What is an establishment?"),
                text: __("An establishment is the location of your food business. If it is a mobile food business, please use the location where it is normally stored overnight.")
                }) }}

        {% if props.editModeFirstPage %}
            {% set editModeFirstPage = "/new/" + props.council + "/establishment-address?edit=establishment-address" %}
        {% else %}
            {% set editModeFirstPage = "/new/" + props.council + "/establishment-address" %}
        {% endif %}

         {{ govukSummaryList({
        classes: 'govuk-summary-list--no-border',
        rows: [
          {
            key: {
              text: __("Postcode you have entered")
            },
            value: {
              text: props.cumulativeFullAnswers.establishment_postcode_find
            },
            actions: {
              items: [
                {
                  href: editModeFirstPage,
                  text: __("Change postcode")
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class= "govuk-heading-2">{{__("Select an address for") }} {{props.cumulativeFullAnswers.establishment_postcode_find}}</h2>

      {% if props.addressLookups.establishment_postcode_find %}
            
      {% else %}
            
      {% endif %}

      {{ govukSelect({
        id: "operatorAddressDropdown",
        name: "operator_address_selected",
        label: {
          text: ""
        },
        items: props.addressLookups.operator_postcode_find | addressSelectItems
      }) }}

      {% if props.editModeFirstPage %}
          {% set editModeFirstPage = "/new/" + props.council + "/establishment-address-manual?edit=establishment-address-manual" %}
      {% else %}
          {% set editModeFirstPage = "/new/" + props.council + "/establishment-address-manual" %}
      {% endif %}
      
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <a href = {{editModeFirstPage}} >{{__("I can't find my address in the list") }} </a>
        </div>
      </div>
      <br>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {{ govukButton({
              text: "Continue"
          }) }}
        </div>
      </div>
      {% endcall%}
   </div>
</div>
{% endblock %}