{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../components/EstablishmentDetails.njk" import establishmentHiddenDetails %}
{% from "../components/PostForm.njk" import postForm %}
{% from "../components/ProcessedErrorSummary.njk" import processedErrorSummary %}
{% extends "layout.njk" %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% call postForm(props.formAction, props.csrfToken, props.language) -%}
      {{ processedErrorSummary(props.validatorErrors, props.language) }}
      {% call govukFieldset({
          legend: {
            text: __("Which is the establishment's address from the list?", props.language),
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
                  }
            }) %}
      {% endcall %}
      {{ establishmentHiddenDetails(props) }}
      {% if props.editModeFirstPage %}
        {% set editModeFirstPage = "/new/establishment-address?edit=establishment-address" %}
      {% else %}
        {% set editModeFirstPage = "/new/establishment-address?edit=post-code" %}
      {% endif %}
      {{ govukSummaryList({
        classes: 'govuk-summary-list--no-border',
        rows: [
          {
            key: {
              text: __("Postcode you have entered", props.language)
            },
            value: {
              text: props.cumulativeFullAnswers.establishment_postcode_find
            },
            actions: {
              items: [
                {
                  href: editModeFirstPage,
                  text: __("Change postcode", props.language)
                }
              ]
            }
          }
        ]
      }) }}
      {{ govukSelect({
        id: "establishmentAddressDropdown",
        name: "establishment_address_selected",
        label: {
          text: __("Select an address for ", props.language) + props.cumulativeFullAnswers.establishment_postcode_find
        },
        items: props.addressLookups.establishment_postcode_find | addressSelectItems
      }) }}
      {% if props.editModeFirstPage %}
        {% set editModeFirstPage = "/new/establishment-address-manual?edit=establishment-address-manual" %}
      {% else %}
        {% set editModeFirstPage = "/new/establishment-address-manual" %}
      {% endif %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <a href={{ editModeFirstPage }} style="font-size: 19px" class="govuk-link" id="cantFindAddressLink">{{ __("I can't find my address in the list", props.language) }}
          </a>
        </div>
      </div>
      <br>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {{ govukButton({
              text: __("Save and continue", props.language) if props.editModeFirstPage else __("Continue", props.language)
          }) }}
        </div>
      </div>
      {% endcall %}
    </div>
  </div>
{% endblock %}