{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../components/PostForm.njk" import postForm %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "layout.njk" %}
{% block content %}
{{ props.currentPageWithQuery }}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        {% call postForm("findaddress/establishment-address", props.csrfToken, props.language) -%}
        
            {% call govukFieldset({
                    legend: {
                        text: "What is the establishment's postcode?",
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    }
                    }) %}
            {% endcall %}
            {{ govukDetails({
                summaryText: "What is an establishment?",
                text: "An establishment is the location of your food business, and the food activities taking place there. If it is a mobile food business, please use the location where it is normally stored overnight."
                }) }}
            {{ govukInput({
                        "label": {
                        "text": "Postcode"
                        },
                        "id": "establishment_postcode_find",
                        "name": "establishment_postcode_find",
                        "classes": "govuk-input--width-10",
                        "autoComplete": "postal-code"
                    }) }}
            {{ govukButton({
                text: "Find address"
            }) }}
        {% endcall %}
 </div>
</div>
{% endblock %}