{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../components/PostForm.njk" import postForm %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "../components/EstablishmentDetails.njk" import establishmentHiddenDetails %}
{% from "../components/ProcessedErrorSummary.njk" import processedErrorSummary %}
{% extends "layout.njk" %}
{% block content %}
  {{ props.currentPageWithQuery }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% call postForm(props.formAction, props.csrfToken, props.language) -%}
      {{ processedErrorSummary(props.validatorErrors, props.language) }}
      {% call govukFieldset({
            legend: {
              text: __("Where is this establishment located?", props.language),
              classes: "govuk-fieldset__legend--l",
              isPageHeading: true
                    }
            }) %}
      {{ establishmentHiddenDetails(props) }}
      {{ govukRadios({
      idPrefix: "establishment_type",
      name: "establishment_type",
      items: [
        {
          value: "MOBILE",
          text: __("In a mobile or moveable premises", props.language),
          id: "establishment_type_mobile_moveable",
          checked: props.cumulativeFullAnswers.establishment_type === "MOBILE"
        },
        {
          value: "DOMESTIC",
          text: __("In a home or domestic premises", props.language),
          id: "establishment_type_home_domestic",
          checked: props.cumulativeFullAnswers.establishment_type === "DOMESTIC"
        },
        {
          value: "COMMERCIAL",
          text: __("In a commercial or public premises", props.language),
          id: "establishment_type_business_commercial",
          checked: props.cumulativeFullAnswers.establishment_type ==="COMMERCIAL"
        }
      ],
      errorMessage: {
        text: __(props.validatorErrors.establishment_type, props.language)} if props.validatorErrors.establishment_type
      }) }}
      {% endcall %}
      {{ govukButton({
            text: __("Save and continue", props.language) if props.editModeFirstPage else __("Continue", props.language)
          }) }}
      {%- endcall %}
    </div>
  </div>
{% endblock %}