{% from "../node_modules/govuk-frontend/dist/govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/button/macro.njk" import govukButton %}
{% from "../components/PostForm.njk" import postForm %}
{% from "../components/ProcessedErrorSummary.njk" import processedErrorSummary %}
{% extends "layout.njk" %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            {% call postForm(props.formAction, props.csrfToken, props.language) -%}
      {{ processedErrorSummary(props.validatorErrors, props.language) }}
      {{ govukCheckboxes({
      idPrefix: "food_type",
      name: "food_type",
      fieldset: {
        legend: {
          text: __("What type of food do you intend do handle?", props.language),
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
items: [
            {
            value: "RAW_MEAT",
            id: "RAW_MEAT",
            name: "food_type",
            text: __("Raw unwrapped meat, fish and shellfish", props.language)
            },
            {
            value: "READY_TO_EAT",
            id: "READY_TO_EAT",
            name: "food_type",
            text: __("Ready to eat food (food that will not be cooked or reheated before serving)", props.language)
            },
            {
            value: "COOKED_OR_REHEATED",
            id: "COOKED_OR_REHEATED",
            name: "food_type",
            text: __("Food that has been cooked and/or reheated in the establishment", props.language)
            },
            {
            value: "IMPORTED",
            id: "IMPORTED",
            name: "food_type",
            text: __("Food that your business has imported (from outside the UK)", props.language)
            },
            {
            value: "NONE",
            id: "NONE",
            name: "food_type",
            text: __("None of these", props.language)
            },
            {
            value: "DONT_KNOW",
            id: "DONT_KNOW",
            name: "food_type",
            text: __("Don't know", props.language)
            }
        ],
      errorMessage: {
            text: __(props.validatorErrors.food_type, props.language)} if props.validatorErrors.food_type
          }) }}
      {{ govukButton({
        text: __("Save and continue", props.language) if props.editModeFirstPage else __("Continue", props.language)
      }) }}
      {%- endcall %}
    </div>
  </div>
{% endblock %}