{% from "../node_modules/govuk-frontend/dist/govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/skip-link/macro.njk" import govukSkipLink %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/header/macro.njk" import govukHeader %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/footer/macro.njk" import govukFooter %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/button/macro.njk" import govukButton %}
{% from "../components/PostForm.njk" import postForm %}
{% extends "layout.njk" %}
{% set props = mergeObjects(props, {hideback: true}) %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 id="main-heading" class="govuk-heading-l">{{ __("Register a Food Business", props.language) }}</h1>
      <p class="govuk-body">
        {{ __("When you start a new food business or take over an existing business, you must register with your local authority. You should do this at least", props.language) }}
        <b>{{ __("28 days", props.language) }}</b>
        {{ __("before trading or before food operations start.", props.language) }}
      </p>
      <p class="govuk-body">
        <b>{{ __("Do not register too early. If your food business is not ready to start trading, wait until nearer the time that operations are due to begin.", props.language) }}</b>
      </p>
      <b>{{ govukInsetText({
      text: __("During this registration, you may come across a few specialist terms, which we have described below", props.language) + ":"
      }) }}</b>
      <h2 class="govuk-heading-m">{{ __("Food business operator", props.language) }}</h2>
      <p class="govuk-body">{{ __("The operator is the person, charity or company who makes the decisions about the food business. They decide what it serves and how it operates.", props.language) }}</p>
      <h2 class="govuk-heading-m">{{ __("Establishment", props.language) }}</h2>
      <p class="govuk-body">{{ __("The establishment is the location or site of your food business. If it is a mobile food business, please use the location where it is normally stored overnight. If the business is operating from a home address, enter that postcode.", props.language) }}</p>
      {% call postForm("/continue/index", props.csrfToken, props.language) -%}
      {{ govukButton({
        text:  __("Begin registration", props.language),
        isStartButton: true
      }) }}
      {%- endcall %}
    </div>
  </div>
{% endblock %}