{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}
{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../components/PostForm.njk" import postForm %}

{% extends "layout.njk" %}


{% block content %}

<h1 id="main-heading" class="govuk-heading-l">{{ __("Register a food business")}}</h1>

<p class="govuk-body">{{__("When you start a new food business or take over an existing business, you must register with your local authority. You should do this at least ") }} <b>{{__("28 days") }}</b> {{__("before trading or before food operations start.") }}</p>
<b>{{ govukInsetText({
  text: __("During this registration, you may come across a few specialist terms, which we have described below") + ":"
  }) }}</b>
  <h1 class="govuk-heading-m">{{__("Food business operator") }}</h1>
<p class="govuk-body">The operator is the person, charity or company who makes the decisions about the food business. They decide what it serves and how it operates.</p>
  <h1 class="govuk-heading-m">{{__("Establishment") }}</h1>
<p class="govuk-body">{{__("The establishment is the location or site of your food business. If it is a mobile food business, please use the location where it is normally stored overnight.") }}</p>
  <h1 class="govuk-heading-m">{{__("Registering Local Authority") }}</h1>
<p class="govuk-body"><p class="govuk-body"><b>{{__("City of Cardiff Council") }}</b> {{__("is the local authority your registration will be sent to. Is this the correct local authority for your business? If unsure please use this ") }}<a href=www.gov.uk/food-business-registration>{{__("Food Business Registration") }}</a>{{__(" link to check using the location or site of your food business.") }}</p>

{% call postForm("/continue/index", props.csrfToken, props.language) -%}
  {{ govukButton({
    text:  __("Begin registration"),
    isStartButton: true
  }) }}
{%- endcall %}

{% endblock %}
