{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../components/PostForm.njk" import postForm %}
{% extends "layout.njk" %}
{% set props = mergeObjects(props, {backToStart: true}) %}
{% block content %}
  {{ props.currentPageWithQuery }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 id="main-heading" class="govuk-heading-l">{{ __("Unfortunately, you cannot use this service", props.language) }}</h1>
      <p class="govuk-body">{{ __("We can't identify the relevant food safety team to direct your registration to. Please contact your local authority directly for more details on how to register in your area.", props.language) }}</p>
      <a
        class="govuk-button"
        data-module="govuk-button"
        href="https://www.gov.uk/food-business-registration"
        id="server-error-form">
        {{ __("Contact your Local Authority", props.language) }}
      </a>
    </div>
  </div>
{% endblock %}