{% from "../node_modules/govuk-frontend/dist/govuk/components/button/macro.njk" import govukButton %}
{% from "../components/PostForm.njk" import postForm %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "../components/ProcessedErrorSummary.njk" import processedErrorSummary %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/select/macro.njk" import govukSelect %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/radios/macro.njk" import govukRadios %}
{% extends "layout.njk" %}
{% block head %}
    <link href="/css/app.css" rel="stylesheet" type="text/css">
        <link href="/auto-complete/accessible-autocomplete.min.css" rel="stylesheet" type="text/css">
        {% endblock %}
        {% block content %}
            <div class="govuk-grid-row" style='font-family:"GDS Transport";'>
                <div class="govuk-grid-column-two-thirds">
                    {% call govukFieldset({
          legend: {
            text: __("We couldn't find your Local Authority", props.language),
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
                  }
            }) %}
                    <p class="govuk-body">
                        {{ "" if props.fullCurrentPage === "/la-selector?back=/wrong-la" else "The postcode you entered has not been recognised." }}
                    </p>
                    {% endcall %}
                    {% call postForm(props.formAction, props.csrfToken, props.language) -%}
                    {{ processedErrorSummary(props.validatorErrors, props.language) }}
                    {% set localAuthoritiesArray = [
                {
                    text: ""
                }
            ] %}
                    {% for localAuthority in props.localAuthorities %}
                        {% set localAuthoritiesArray = (localAuthoritiesArray.push({
                    value: localAuthority._id,
                    selected: props.cumulativeFullAnswers.local_authority == localAuthority._id,
                    text: localAuthority.local_council
                }), localAuthoritiesArray) %}
                    {% endfor %}
                    {{ govukSelect({
                id: "local_authority",
                name: "local_authority",
                label: {
                    text: __("Type the name of your local authority in the box below and then select the most fitting local authority from the suggestions", props.language)
                },
                items: localAuthoritiesArray
                }) }}
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {{ govukButton({
              text: __("Save and continue", props.language) if props.editModeFirstPage else __("Continue", props.language)
          }) }}
                        </div>
                    </div>
                    {%- endcall %}
                </div>
            </div>
            <script src="/auto-complete/accessible-autocomplete.min.js"></script>
            <script>
                accessibleAutocomplete.enhanceSelectElement({selectElement: document.querySelector('#local_authority')});
                document.getElementById("local_authority").value = document
                    .getElementById("local_authority-select")
                    .options[document.getElementById("local_authority-select").selectedIndex]
                    .text;
            </script>
        {% endblock %}