{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "../components/FsaHeader.njk" import fsaHeader %}
{% from "../components/FsaFooter.njk" import fsaFooter %}
{% from "../components/BackAndLanguageBar.njk" import backAndLanguageBar %}

{% extends "govuk/template.njk" %}

<html>
  <head>
    <title>
      {% block title %}{% endblock %}
    </title>
    <meta charset="utf8"/>
    <meta name="viewport" content="width=device-width"/>

    {% block head %}
      <link href="/css/app.css" rel="stylesheet" type="text/css">
    {% endblock %}
  </head>
  <body>
    <script>
      document.body.className = (
        (document.body.className)
        ? document.body.className + ' js-enabled'
        : 'js-enabled');
    </script>
    {% block header %}
      {{ fsaHeader(props) }}
    {% endblock %}
    {% block beforeContent %}
      {{ govukPhaseBanner({
        tag: {
          text: "beta"
        },
        html: 'This is a new service – your <a class="govuk-link" 
          href="https://docs.google.com/forms/d/e/1FAIpQLSd78otan9gVxW-tIO6DDdqPdmKvm29Ssi9nWLkOOx1g8ddQjw/viewform">
          feedback</a> will help us to improve it.'
      }) }}
      {{ backAndLanguageBar(props) }}
    {% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}
      {{ fsaFooter({
          meta: {
            items: [
              {
                href: "https://www.food.gov.uk/cookie-policy",
                text: __("Cookies")               
              },
              {
                href: "https://www.food.gov.uk/about-us/register-a-food-business-privacy-notice",
                text: __("Privacy")
              },
              {
                href: "https://docs.google.com/forms/d/e/1FAIpQLSd78otan9gVxW-tIO6DDdqPdmKvm29Ssi9nWLkOOx1g8ddQjw/viewform",
                text: __("Feedback")
              },
              {
                href: "https://www.food.gov.uk/accessibility-rafb",
                text: __("Accessibility")
              }
              
            ]
          }
      }) }}
    {% endblock %}
    <script src="scripts/govuk.js" type="text/javascript"></script>
    <script>
      window
        .GOVUKFrontend
        .initAll()
    </script>
  </body>
</html>