{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "../components/PostForm.njk" import postForm %}
{% from "../components/ProcessedErrorSummary.njk" import processedErrorSummary %}
{% extends "layout.njk" %}

{% block content %}
{{ props.currentPageWithQuery }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% call postForm("/continue" + props.currentPage, props.csrfToken, props.language) -%}
      {{ processedErrorSummary(props.validatorErrors, props.language) }}

      {% call govukFieldset({
      describedBy: "opening-days-irregular",
        legend: {
          text: __("Opening periods"),
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
        }) %}
        
        {{ govukTextarea({
        "label": {
          "text": __("When will this establishment be open and serving or preparing food?")
          },
        "id": "opening_days_irregular",
        "value": props.cumulativeFullAnswers.opening_days_irregular,
        "name": props.cumulativeFullAnswers.opening_days_irregular,
        "errorMessage": {
        "text": __(props.validatorErrors.opening_days_irregular)} if props.validatorErrors.opening_days_irregular
        }) }}

      {% endcall%}
      {{ govukButton({
              text: __("Continue")
            }) }}
      
      {%- endcall %}
    </div>
  </div>
{% endblock %}
