{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "../components/PostForm.njk" import postForm %}
{% from "../components/AddressHelp.njk" import addressHelpForm %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends "layout.njk" %}

{% block beforeContent %}

{% if props.switches["/operator-address-none-found"] %}
{% set backlink = "/new/" + props.council + "/operator-address" %}
{% else %}
{% set backlink = "/new/" + props.council + "/operator-address-select" %}
{% endif%}

{{ govukBackLink({
    href: backlink,
    text: "Back"
  }) }}
{% endblock%}

{% block content %}

{{ props.currentPageWithQuery }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {% call postForm("/continue" + props.currentPage, props.csrfToken, props.language) -%}

      <div class="error-summary" role="alert" tabindex="-1" aria-labelledby="error-summary-heading">
            {{ govukErrorSummary({
            "titleText": "There is a problem",
            "errorList": [
                {
                "text": props.validatorErrors.operator_address_line_1,
                "href": "#operator_address_line_1"
                },
                {
                "text": props.validatorErrors.operator_town,
                "href": "#operator_town"
                },
                {
                "text": props.validatorErrors.operator_postcode,
                "href": "#operator_postcode"
                }
            ]
            }) }}
         </div>

        {% if props.cumulativeFullAnswers.registration_role === "PARTNERSHIP" %}
          {% call govukFieldset({
          legend: {
            text: "What is the partnership contact's address?",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
                  }
          }) %}
          {% endcall%}
        {% else %}
          {% call govukFieldset({
            legend: {
            text: "What is the operator's address?",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
                  }
            }) %}
        {% endcall%}

        {% endif %}                               

        {% call addressHelpForm(props.cumulativeFullAnswers.registration_role) %}

        {% endcall%}

          {{ govukInput({
              "label": {
                "text": "Address line 1"
              },
              "id": "operator_address_line_1",
              "name": "operator_address_line_1",
              "classes": "govuk-label--l",
              "autoComplete": "address-line1",
               "errorMessage": props.validatorErrors.operator_address_line_1
              
          }) }}

          {{ govukInput({
              "label": {
                "text": "Address line 2 (optional)"
              },
              "id": "operator_address_line_2",
              "name": "operator_address_line_2",
              "classes": "govuk-label--l",
              "autoComplete": "address-line2"
          }) }}

          {{ govukInput({
              "label": {
                "text": "Address line 3 (optional)"
              },
              "id": "operator_address_line_3",
              "name": "operator_address_line_3",
              "classes": "govuk-label--l",
              "autoComplete": "address-line3"
          }) }}

          {{ govukInput({
              "label": {
                "text": "Town or city"
              },
              "id": "operator_town",
              "name": "operator_town",
              "classes": "govuk-label--l",
              "autoComplete": "locality",
              "errorMessage": props.validatorErrors.operator_town
          }) }}

          {{ govukInput({
              "label": {
                "text": "Postcode"
              },
              "id": "operator_postcode",
              "name": "operator_postcode",
              "classes": "govuk-label--l",
              "autoComplete": "postal-code",
              "errorMessage": props.validatorErrors.operator_postcode
          }) }}

        {{ govukButton({
            text: "Continue"
          }) }}
      {% endcall %}
  </div>
</div>
{% endblock%}