{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../components/PostForm.njk" import postForm %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends "layout.njk" %}
{% block content %}
{{ props.currentPageWithQuery }}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">  
        {% call postForm("/findaddress/" + props.currentPage, props.csrfToken, props.language) -%}

        <div class="error-summary" role="alert" tabindex="-1" aria-labelledby="error-summary-heading">
            {{ govukErrorSummary({
            "titleText": "There is a problem",
            "errorList": [
                {
                "text": props.validatorErrors.operator_postcode_find,
                "href": "#operator_postcode_find"
                }
            ]
            }) }}
         </div>

        {% if props.cumulativeFullAnswers.registration_role === "PARTNERSHIP" %}
            {% call govukFieldset({
                    legend: {
                        text: "What is the partnership contact's postcode?",
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    }
                    }) %}
            {% endcall %}
        {% else %}
            {% call govukFieldset({
                    legend: {
                        text: "What is the operator's postcode?",
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    }
                    }) %}
            {% endcall %}
        {% endif %}
        {% call govukInsetText({
                text: "The operator is the person or people, charity or company who makes the decisions about the food business. They decide what it serves and how it operates.",
                classes: "govuk-fieldset__legend--l"
            }) %}
        {% endcall %}
        {{ govukInput({
                    "label": {
                    "text": "Postcode"
                    },
                    "id": "operator_postcode_find",
                    "name": "operator_postcode_find",
                    "classes": "govuk-input--width-10",
                    "autoComplete": "postal-code",
                    "errorMessage": props.validatorErrors.operator_postcode_find
                }) }}
        {{ govukButton({
            text: "Find address"
        }) }}
        {% endcall %}
 </div>
</div>
{% endblock %}