{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../components/PostForm.njk" import postForm %}
{% from "../components/AddressHelp.njk" import addressHelpForm %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% extends "layout.njk" %}

{% block content %}

  {{ props.currentPageWithQuery }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% call postForm("/continue" + props.currentPage, props.csrfToken, props.language) -%}

      {% if props.validatorErrors | length %}
        {{ govukErrorSummary({
            titleText: __("There is a problem"),
            errorList: props.validatorErrorsArray
        }) }}
      {% endif %}
      

      {% if props.cumulativeFullAnswers.registration_role === "PARTNERSHIP" %}
        {% call govukFieldset({
          legend: {
            text: __("Which is the partnership contact's address from the list?"),
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
                  }
          }) %}
        {% endcall%}

        {% call govukInsetText({
          text: __("Partnership address is the contact address for the partner who is the main point of contact."),
          classes: "govuk-fieldset__legend--l"
        }) %}
        {% endcall %}
      {% else %}
        {% call govukFieldset({
          legend: {
            text: __("Which is the operator's address from the list?"),
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
                  }
          }) %}
        {% endcall%}
        {% call govukInsetText({
            text: __('Operator address is the contact address for the operator. For example home address for a sole trader or headquarters address for a limited company.'),
            classes: "govuk-fieldset__legend--l"
        }) %}
        {% endcall %}
      {% endif %}

      {% if props.editModeFirstPage %}
        {% set editModeFirstPage = "/new/" + props.council + "/operator-address?edit=operator-address" %}
      {% else %}
        {% set editModeFirstPage = "/new/" + props.council + "/operator-address" %}
      {% endif %}

      {{ govukSummaryList({
        classes: 'govuk-summary-list--no-border',
        rows: [
          {
            key: {
              text: __("Postcode you have entered")
            },
            value: {
              text: __(props.cumulativeFullAnswers.operator_postcode_find)
            },
            actions: {
              items: [
                {
                  href: editModeFirstPage,
                  text: __("Change postcode")
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class= "govuk-heading-2">{{__("Select an address for") }}
        {{props.cumulativeFullAnswers.operator_postcode_find}}</h2>

      {{ govukSelect({
        id: "operatorAddressDropdown",
        name: "operator_address_selected",
        label: {
          text: ""
        },
        items: props.addressLookups.operator_postcode_find | addressSelectItems
      }) }}

      {{ govukButton({
          text: "Continue"
        }) }}

      {% endcall %}
    </div>
  </div>
{% endblock %}