{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "../components/PostForm.njk" import postForm %}
{% from "../components/ProcessedErrorSummary.njk" import processedErrorSummary %}

{% extends "layout.njk" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  {% call postForm("/continue" + props.currentPage, props.csrfToken, props.language) -%}
  {{ processedErrorSummary(props.validatorErrors, props.language) }}

  {% if props.cumulativeFullAnswers.registration_role === "PARTNERSHIP" %}
      {% call govukFieldset({
      legend: {
        text: __("Partnership contact details"),
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
              }
      }) %}
      {% endcall%}
    {% else %}
      {% call govukFieldset({
        legend: {
          text: __("Operator contact details"),
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
                }
          }) %}
      {% endcall%}

    {% endif %}

  {{ govukDetails({
    summaryText: __("What is a food business operator?"),
    text: __("The operator is the person or people, charity or company who makes the decisions about the food business. They decide what it serves and how it operates.")
  }) }}

  {{ govukInput({
      "label": {
        "text": __("Main phone number")
      },
      "id": "operator_primary_number",
      "name": "operator_primary_number",
      "value": props.cumulativeFullAnswers.operator_primary_number,
      "classes": "govuk-label--l",
      "autoComplete": "tel",
       "errorMessage": {
      "text":  __(props.validatorErrors.operator_primary_number) } if props.validatorErrors.operator_primary_number       
   }) }}

  {{ govukInput({
      "label": {
        "text": __("Secondary phone number (optional)")
      },
      "id": "operator_secondary_number",
      "name": "operator_secondary_number",
      "value": props.cumulativeFullAnswers.operator_secondary_number,
      "classes": "govuk-label--l",
      "autoComplete": "off",
      "errorMessage": {
      "text":  __(props.validatorErrors.operator_secondary_number) } if props.validatorErrors.operator_secondary_number 
  }) }}

  {{ govukInput({
      "label": {
        "text": __("Email address")
      },
      "hint": {
      "text": __("We will use your email to keep you informed of any policy or legal changes that could affect your food business.")
      },
      "id": "operator_email",
      "name": "operator_email",
      "value": props.cumulativeFullAnswers.operator_email,
      "classes": "govuk-label--l",
      "autoComplete": "email",
      "errorMessage": {
      "text": __(props.validatorErrors.operator_email) } if props.validatorErrors.operator_email
  }) }}

    {{ govukButton({
        text: __("Continue")
      }) }}

  {% endcall%}
</div>
</div>
 {% endblock%}