{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../components/PostForm.njk" import postForm %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% extends "layout.njk" %}
{% block content %}
  {{ props.currentPageWithQuery }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
        {% call postForm("/continue" + props.currentPage, props.csrfToken, props.language) -%}
            {{ govukErrorSummary({
              "titleText": __("There is a problem"),
              "errorList": [
                {
                  "text": __("Enter a valid first name"),
                  "href": "#operator_first_name"
                },
                {
                  "text": __("Enter a valid last name"),
                  "href": "#operator_last_name"
                }
              ]
            }) }}     
        {% call govukFieldset({
        describedBy: "operators_name",
          legend: {
            text: __("What is the operator's name?"),
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }  
        }) %}
        {{ govukDetails({
          summaryText: __("What is the operator's name?"),
          text: __("The operator is the person or people, charity or company who makes the decisions about the food business. They decide what it serves and how it operates.")
        }) }}
        {{ govukInput({
            "label": {
              "text": __("First and middle names")
            },
            "id": "operator_first_name",
            "name": "operator_first_name",
            "classes": "govuk-label--l",
            "autoComplete": "given-name",
            "errorMessage": __(props.validatorErrors.operator_first_name)
        }) }}
        {{ govukInput({
            "label": {
              "text": __("Last name")
            },
            "id": "operator_last_name",
            "name": "operator_last_name",
            "classes": "govuk-label--l",
            "autoComplete": "family-name",
            "errorMessage": __(props.validatorErrors.operator_last_name)
        }) }}
        {% endcall %}
        {{ govukButton({
          text: __("Continue")
        }) }}      
        {%- endcall %} 
    </div>
  </div>
{% endblock %}
