{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "../components/PostForm.njk" import postForm %}
{% from "../components/AddressHelp.njk" import addressHelpForm %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% extends "layout.njk" %}

{% block beforeContent %}

{% if props.switches["/operator-address-none-found"] %}
  {% set backlink = "/new/" + props.council + "/operator-address" %}
{% else %}
  {% set backlink = "/new/" + props.council + "/operator-address-select" %}
{% endif%}

{{ govukBackLink({
    href: backlink,
    text: __("Back")
  }) }}
  {{ super() }}
{% endblock%}

{% block content %}

{{ props.currentPageWithQuery }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {% call postForm("/continue" + props.currentPage, props.csrfToken, props.language) -%}

        {% if props.validatorErrors | length %}
                  {{ govukErrorSummary({
                titleText: __("There is a problem"),
              errorList: props.validatorErrorsArray
          }) }}
        {% endif %}

        {% if props.cumulativeFullAnswers.registration_role === "PARTNERSHIP" %}
          {% call govukFieldset({
          legend: {
            text: __("What is the partnership contact's address?"),
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
                  }
          }) %}
          {% endcall%}

          {% call govukInsetText({
              text:  __("Partnership address is the contact address for the partner who is the main point of contact."),
              classes: "govuk-fieldset__legend--l"
          }) %}
          {% endcall %}
        {% else %}
          {% call govukFieldset({
            legend: {
            text: __("What is the operator's address?"),
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
                  }
            }) %}
          {% endcall%}
          {% call govukInsetText({
                    text: __('Operator address is the contact address for the operator. For example home address for a sole trader or headquarters address for a limited company.'),
                    classes: "govuk-fieldset__legend--l"
                }) %}
          {% endcall %}
        {% endif %}                               

          {{ govukInput({
              "label": {
                "text": __("Address line 1")
              },
              "id": "operator_address_line_1",
              "name": "operator_address_line_1",
              "classes": "govuk-label--l",
              "autoComplete": "address-line1",
               "errorMessage": __(props.validatorErrors.operator_address_line_1)
              
          }) }}

          {{ govukInput({
              "label": {
                "text": __("Address line 2 (optional)")
              },
              "id": "operator_address_line_2",
              "name": "operator_address_line_2",
              "classes": "govuk-label--l",
              "autoComplete": "address-line2"
          }) }}

          {{ govukInput({
              "label": {
                "text": __("Address line 3 (optional)")
              },
              "id": "operator_address_line_3",
              "name": "operator_address_line_3",
              "classes": "govuk-label--l",
              "autoComplete": "address-line3"
          }) }}

          {{ govukInput({
              "label": {
                "text": __("Town or city")
              },
              "id": "operator_town",
              "name": "operator_town",
              "classes": "govuk-label--l",
              "autoComplete": "locality",
              "errorMessage": __(props.validatorErrors.operator_town)
          }) }}

          {{ govukInput({
              "label": {
                "text": __("Postcode")
              },
              "id": "operator_postcode",
              "name": "operator_postcode",
              "classes": "govuk-label--l",
              "autoComplete": "postal-code",
              "errorMessage": __(props.validatorErrors.operator_postcode)
          }) }}

        {{ govukButton({
            text: __("Continue")
          }) }}
      {% endcall %}
  </div>
</div>
{% endblock%}