{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../components/PostForm.njk" import postForm %}
{% from "../components/ProcessedErrorSummary.njk" import processedErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% extends "layout.njk" %}
{% block content %}
  {{ props.currentPageWithQuery }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% call postForm(props.partnerDetailsSaveFormAction, props.csrfToken, props.language) -%}
      {{ processedErrorSummary(props.validatorErrors, props.language) }}
      {{ govukInput({ 
            label: {
            text: __("Edit partner's name", props.language) if props.cumulativeFullAnswers.partners[props.cumulativeFullAnswers.targetPartner] else __("Add partner's name", props.language),
            classes: "govuk-label--l",
            isPageHeading: true
                  },
            id: "partner_name",
            name: "partner_name",
            hint: {
                text: __("Full name", props.language)
             },
            value: props.cumulativeFullAnswers.partners[
            props.cumulativeFullAnswers.targetPartner
            ],
            "errorMessage": { "text": __(props.validatorErrors.partner_name, props.language) } if props.validatorErrors.partner_name
        }) }}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <button class="govuk-button" type="submit" data-module="govuk-button" id="continue-button">
            {{ __(("Save " if props.cumulativeFullAnswers.partners[props.cumulativeFullAnswers.targetPartner] else "Add ", props.language) + "partner") }}
          </button>
        </div>
        <div class="govuk-grid-column-one-quarter" style="float:right; text-align: right">
          <a href={{ props.partnerDetailsBackUrl }} class="govuk-link">
            <button class="govuk-button" type="button" data-module="govuk-button" id="cancelButton">
              {{ __("Cancel", props.language) }}
            </button>
          </a>
        </div>
      </div>
      {%- endcall %}
    </div>
  </div>
{% endblock %}