{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% from "../components/PostForm.njk" import postForm %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "../components/SummaryTable.njk" import summaryTable %}

{% extends "layout.njk" %}
{% set props = mergeObjects(props, {hideback: true}) %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     <h1 class="govuk-heading-l">{{__("Submission complete") }}</h1>
     <h2 class="govuk-heading-m">{{__("Thank you for submitting your food business registration.") }}</h2>
     
     {% set html %}
      {% if props.fsaRegistrationNumber %}
           <span id = "fsa-rn" >
           <br>
           <br>
           {{props.fsaRegistrationNumber.split("-").join(" - ")}}
       {% else %}
          <span id = "panelWithText" >
           <br>
           {{__("Awaiting registration application reference")}}
       {% endif %}
     {% endset %}

     {{ govukPanel({
      headingLevel: 2,
      titleText: __("Your unique food business registration application reference is") if props.fsaRegistrationNumber else __("Registration submitted"),
      html: html
     }) }}

     {{ govukInsetText({
      text: __("Please keep note of this registration application reference for your records.")
     }) }}
    
    {% set formattedDate =  creation_date | date(props.language, "DD MMMM YYYY") %}
      <h2 class="govuk-heading-m">{{__("Submitted on") }}</h2>
      <p class="govuk-body" style="margin-top:-20px">{{ formattedDate }}</p>
  
     <div id = "sentToCouncilsSection">
       <h2 class="govuk-heading-m" style="margin-bottom:-0px">{{__("Your registration has been sent to") }}</h2> 
       {% if props.lcConfig.hygieneAndStandards %}
        <h2 class="govuk-heading-m" style="font-size:32px" id= "hygieneAndStandardsCouncil">{{props.lcConfig.hygieneAndStandards.local_council}}</h2>
        <p class="govuk-body" style="margin-top:-20px">{{__("Email address") + ": " }}  {{props.lcConfig.hygieneAndStandards.local_council_email}}</p>
        {% if props.lcConfig.hygieneAndStandards.local_council_phone_number %}
          <p class="govuk-body" id="hygieneAndStandardsNumber" style="margin-top:-20px">{{ __("Phone number") + ": " + props.lcConfig.hygieneAndStandards.local_council_phone_number }} </p>
        {% endif %}
       {% else %}
        {% if props.lcConfig.hygiene and props.lcConfig.standards %}
          <div>
            <h4 class="govuk-heading-s" id="hygieneCouncil">{{ props.lcConfig.hygiene.local_council }} </h4>
            <p class="govuk-body">{{__("Email address") + ": " }}  {{ props.lcConfig.hygiene.local_council_email}}</p>
            {% if props.lcConfig.hygiene.local_council_phone_number %}
              <p class="govuk-body" id= "hygieneNumber">{{ __("Phone number") + ": " + props.lcConfig.hygiene.local_council_phone_number }} </p>
            {% endif %}
            <span>{{ __("Responsible local council for food hygiene")}} </span>

            <h2 class="govuk-heading-m" id= "standardsCouncil">{{props.lcConfig.standards.local_council}}</h2>
            <p class="govuk-body">{{__("Email address") + ": " }}  {{props.lcConfig.standards.local_council_email}}</p>
            {% if props.lcConfig.standards.local_council_phone_number %}
            <p class="govuk-body" id="standardsNumber">{{ __("Phone number") + ": " + props.lcConfig.standards.local_council_phone_number }} </p>
            {% endif %}
            <span>{{ __("Responsible local council for food standards")}} </span>
          </div>
        {% endif %}
       {% endif %}
     </div>
     <div className="receiveConfirmationEmail" id="receiveConfirmationEmail-id">
      <p class="govuk-body">{{ __("A copy of this registration has been sent to ") + props.transformedData.operator_email if props.transformedData.operator_email else __("A copy of this registration has been sent to ") + props.transformedData.contact_representative_email }} </p>
     </div>
       <h2 class="govuk-heading-m">{{__("What happens next?") }}</h2>
       {{ govukInsetText({
        text: __("You may receive an unannounced food inspection from your local council soon after you start trading.")
       }) }}

       <p class="govuk-body">
          {{ __("The council may contact you before the inspection to discuss how your business operates or to offer advice.") }}
       </p>

       <p class="govuk-body">
          {{ __("If you have any questions or need to update any information, please contact the council directly using the contact details above.") }}
       </p>

       <p class="govuk-body">
         <strong>{{ __("Note") }}</strong>
          {{ __("Councils are responsible for issuing ") }}
          <a class="govuk-link" href='{{__("FHRS Link")}}'> {{__("Food Hygiene ratings ")}}</a>
          {{__("(FHRS) following inspection, and upload details onto ")}} 
          <a class="govuk-link" href='{{__("Food UK Link")}}'> {{__("food.gov.uk. ")}}</a>
          {{__("Any questions around FHRS should be directed to the council not the FSA")}}
       </p>

       <h3 class="govuk-heading-m">{{__("What can I do to prepare?") }}</h3>
       <p class="govuk-body" style="margin-top:-20px">
          {{ __("All links open in a new window")}}
       </p>

      {% if props.language === "en" %}
        <a class="govuk-link" id="foodSafetyLink" href="https://www.food.gov.uk/business-guidance" 
            target="_blank"
            rel="noopener noreferrer">{{__("Guidance for new food businesses")}}
        </a>
        <br>
        <br>
        <a class="govuk-link" id="fhrsScoreLink" href="https://www.food.gov.uk/business-guidance/food-hygiene-ratings-for-businesses" 
            target="_blank"
            rel="noopener noreferrer">{{__("How to achieve a high food hygiene rating (FHRS score)")}}
        </a>
        <br>
        <br>
        {% if props.country === "northern-ireland" %}
          <a class="govuk-link" id= "safeCateringLink" href="https://www.food.gov.uk/business-guidance/safe-catering" 
              target="_blank"
              rel="noopener noreferrer">{{__("Safe catering")}}
          </a>
          <br>
          <br>
        {% endif %}

        <a class="govuk-link" id = "safetyManagementLink" href="https://www.food.gov.uk/business-guidance/safer-food-better-business" 
              target="_blank"
              rel="noopener noreferrer">{{__("Information on the food safety management system safer food, better business")}}
        </a>
        <br>
        <br>
        <a class="govuk-link" id = "foodLabellingLink" href="https://www.food.gov.uk/business-guidance/industry-specific-advice/labelling-and-allergens" 
              target="_blank"
              rel="noopener noreferrer">{{__("Food labelling and allergens guidance")}}
        </a>
        <br>
        <br>
      {% endif %}

      {% if props.language === "cy" %}
        <h2 class="govuk-heading-m" style="margin-top:-40px"></h2>
        <a class="govuk-link" id= "businessGuidanceLink" href ="https://www.businesswales.gov.wales/starting-up"
              target="_blank" 
              rel="noopener noreferrer">{{__("Business support Wales")}}
          </a>
         <br>
         <br>
      {% endif %}

      {% if props.country === "northern-ireland" and props.language === "en" %}
          <a class="govuk-link" id= "businessGuidanceLink" href ="https://www.nibusinessinfo.co.uk/"
              target="_blank" 
              rel="noopener noreferrer">{{__("Business support Northern Ireland")}}
              </a>
      {% else %}
        {% if props.country === "england" and props.language === "en" %}
            <a class="govuk-link" id= "businessSupportHelplineEnglishLink" href ="https://www.gov.uk/business-support-helpline"
            target="_blank" 
            rel="noopener noreferrer">{{__("Business support & helpline")}}
          </a>
          <br>
          <p class="govuk-body-s">or contact the Business Support Helpline on 0800 998 1098</p>
          <br>
          <br>
        {% endif %}
      {% endif %}

      {% if props.language === "cy" %}
          <h2 class="govuk-heading-m" style="margin-top:-20px"></h2>
           <a class="govuk-link" style="margin-top:-20px" id= "businessGuidanceWelshLink" href ="https://www.food.gov.uk/cy/canllawiau-ar-gyfer-busnesau" 
              target="_blank"
              rel="noopener noreferrer">{{("I gael cyngor cyffredinol ar hylendid bwyd a sut i redeg busnes
              bwyd diogel")}}
          </a>
          <br>
          <br>
          <a class="govuk-link" id= "foodHygieneRatingsWelshLink" href ="https://www.food.gov.uk/cy/business-guidance/sgoriau-hylendid-bwyd-ar-gyfer-busnesau" 
              target="_blank"
              rel="noopener noreferrer">{{("I gael gwybodaeth am sut i gael sgôr uchel o dan y Cynllun Sgorio
              Hylendid Bwyd")}}
          </a>
          <br>
          <br>
          <a class="govuk-link" id= "saferFoodBetterBusinessWelshLink" href ="https://www.food.gov.uk/cy/business-guidance/bwyd-mwy-diogel-busnes-gwell" 
              target="_blank"
              rel="noopener noreferrer">{{("I gael gwybodaeth am y system rheoli diogelwch bwyd, Bwyd mwy
              Diogel, Busnes Gwell")}}
          </a>
          <br>
          <br>
          <a class="govuk-link" id= "labellingAndAllergensWelshLink" href ="https://www.food.gov.uk/cy/canllawiau-ar-gyfer-busnesau/cyngor-penodol-ar-gyfer-y-diwydiant/labelu-ac-alergenau" 
              target="_blank"
              rel="noopener noreferrer">{{("I gael canllawiau ar labelu bwyd ac alergenau")}}
          </a>
           <br>
          <br>
          <a class="govuk-link" id= "businessStartUpGuidanceWelshLink" href ="https://businesswales.gov.wales/starting-up/cy" 
              target="_blank"
              rel="noopener noreferrer">{{("I gael cyngor busnes cyffredinol")}}
          </a>

      {% endif %}
      <br>
      <br>
      <h2 class="govuk-heading-m">{{__("Your registration details") }}</h2>
      
      {%set applicationCompletePage = true%}
      {{ summaryTable(props) }}

    </div>
 </div>
{% endblock %}