{% extends "layout.njk" %}
{% set props = mergeObjects(props, {backToStart: true}) %}
{% block content %}
  {{ props.currentPageWithQuery }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 id="main-heading" class="govuk-heading-l">{{ __("Confirmed no longer trading", props.language) }}</h1>
      <p class="govuk-body">{{ __("Thanks for confirming your trading status.", props.language) }}</p>
      <p class="govuk-body">{{ __("You can now close this window.", props.language) }}</p>
    </div>
  </div>
{% endblock %}