{% from "../node_modules/govuk-frontend/dist/govuk/components/fieldset/macro.njk" import govukFieldset %}
{% extends "layout.njk" %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    {% call govukFieldset({
            legend: {
              text: __("Your local authority is", props.language)+" "+(props.localAuthority.new_authority_name or props.localAuthority.local_council),
              classes: "govuk-fieldset__legend--l",
              isPageHeading: true
            }  
          }) %}
    {% endcall %}
      <p class="govuk-body">
        <strong>{{ __("Email address:", props.language) }}:</strong>
        <a href="mailto:{{ props.localAuthority.local_council_email }}">{{ props.localAuthority.local_council_email }}</a>
      </p>
      <p class="govuk-body">
        <strong>{{ __("Phone number", props.language) }}:</strong> 
        {{ props.localAuthority.local_council_phone_number }}
      </p>
      <p class="govuk-body">
        {{ __("You do not need to complete a new registration. Contact your local authority directly to tell them of any changes to your food business.", props.language) }}
      </p>
      <div class="govuk-hint">
        {{ __("For example, add an additional trading name, advise of a new process or that your business has closed.", props.language) }}
      </div>
    </div>
  </div>
{% endblock %}